<div>
  <link href="./navbar-container.css" rel="stylesheet" />
  <div data-role="Header" class="navbar-container-navbar-container">
    <div class="navbar-container-navbar">
      <div class="navbar-container-left-side">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="navbar-container-image"
        />
      </div>
      <div class="navbar-container-links-container">
        <a href="index.html" class="navbar-container-link"><span>Home</span></a>
        <a href="#what-we-do" class="navbar-container-link1">
          <span>About Us</span>
        </a>
        <a href="project.html" class="navbar-container-link2">
          <span>Projects</span>
        </a>
        <span class="navbar-container-link3"><span>Contact Us</span></span>
      </div>
      <div data-type="BurgerMenu" class="navbar-container-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navbar-container-icon">
          <path
            d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
          ></path>
        </svg>
      </div>
      <div data-type="MobileMenu" class="navbar-container-mobile-menu">
        <div class="navbar-container-container">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="navbar-container-image1"
          />
          <div data-type="CloseMobileMenu" class="navbar-container-close-menu">
            <svg viewBox="0 0 1024 1024" class="navbar-container-icon2">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="navbar-container-links-container1">
          <span class="navbar-container-link4 anchor">
            <span>Resources</span>
          </span>
          <a href="#inspiration" class="navbar-container-link5 anchor">
            <span>Inspiration</span>
          </a>
          <a href="#process" class="navbar-container-link6 anchor">
            <span>Process</span>
          </a>
          <a href="#ourstory" class="navbar-container-link7 anchor">
            <span>Our story</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
